body{
  font-family: arial;
}
.images{
  overflow: hidden;
  display:none;
}
.inner-image{
  margin: 5px;
  overflow:hidden;
  background-color: #f2f2f2;
}
.image img{
  width: 100%;
}
.navigation{
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.navigation .active,
.navigation a:hover{
  border: 1px solid #901414;
  background-color: #901414;
  color: #fff;
}
.navigation a{
  float: left;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  background: #ddd;
  margin-right: 5px;
  color: #901414;
  border: 1px solid #A36969;
  font-weight: bold;
}
/*
.image{
  float: left;
  width: 25%;
  overflow:hidden;
  text-align: center;
}
*/
/*@media (max-width: 600px) {
  .image img{
    width: 100%;
    max-width: none;
    max-height: none;
  }
  .image .inner-image{
    height: auto;
  }
}
*/
@media (min-width: 0px) and (max-width: 800px)  {
  .image{
    width: 100%;
  }
}
@media (min-width: 801px) and (max-width: 1200px)  {
  .image{
    width: 50%;
  }
}

@media (min-width: 1201px) {
  .image{
    width: 25%;
  }
}