body {
  font-family: arial;
}

.fancybox-title.fancybox-title-float-wrap {
  bottom: -20px;
  a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
    display: block;
  }
}

.images {
  overflow: hidden;
  .image {
    float: left;
    .image-inner{
      border: 1px solid #ccc;
    }
    .original-link{
      color: #0f84ff;
      text-decoration: none;
      font-weight: bold;
      display: block;
      padding: 5px 10px;
      background-color: #eee;
      font-size: 14px;
      &:hover{
        background-color: #0f84ff;
        color: #fff;
      }
    }
    .image-link {
      padding: 20px 10px;
      overflow: hidden;
      display: block;
      height: 190px;
      text-align: center;

    }
  }
}

.inner-image {
  margin: 5px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.image img {
  width: 100%;
}

.navigation {
  overflow: auto;
  margin: 20px 10px;
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;

  }
  a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px 5px;

    background: #ddd;

    color: #0f84ff;
    font-weight: bold;
  }
  a:hover {
    background-color: #0f84ff;
    color: #fff;
  }

  .active {
    a {
      background-color: #0f84ff;
      color: #fff;
    }
  }
}

.page-title {
  margin: 20px 5px 5px 5px;
  color: #0f84ff;
}

@media (min-width: 0px) and (max-width: 500px) {
  .image {
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .image {
    width: 50%;
  }
}

@media (min-width: 1001px) and (max-width: 1600px) {
  .image {
    width: 25%;
  }
}

@media (min-width: 1601px) and (max-width: 2000px) {
  .image {
    width: 20%;
  }
}

@media (min-width: 2001px) and (max-width: 2800px) {
  .image {
    width: 15%;
  }
}

@media (min-width: 2801px) {
  .image {
    width: 10%;
  }
}

.fancybox-title-float-wrap .child{
  background-color: #02baf0;
  text-shadow: 0 1px 2px 026684;
  a{
    font-weight: bold;
  }
}