!!!
%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "noindex", :name => "robots"}/
    %meta{:content => "noindex", :name => "googlebot"}/

    %script{src: javascripts_min_path, type: 'text/javascript'}
    %link{href: stylesheets_min_path, media: 'screen', rel: 'stylesheet', type: 'text/css'}

    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}/

    %title= config.site_title

  %body
    %h1.page-title= config.site_title
    #images-container
      .images
        - images.each do |image|
          .image
            %a.image-link.fancybox{href: image.large_url, data:{ full: image.full_url }}
              %img{src: image.thumb_url }